<link rel="stylesheet" href="css/chatbox.css">

<div id="chat-box">
    <div id="messages">
        <div class="message other-message">
            Hello
        </div>
        <div class="message self-message">
            Hey
        </div>
    </div>

    <div id="generate-message">
        <form action="">
            <input type="text" id="generate-message-box" placeholder="type message">
            <button type="submit" id="send-message">send</button>
        </form>
    </div>
</div>