<h1>Sign-in Page</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="enter password" required>
    <button type="submit">sign-in</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>