body{
    margin: 0px;
    min-height: 100vh;
}

input, textarea, button{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input:hover, textarea:hover, button:hover{
    background-color: whitesmoke;
}
