#home-container {
  display: flex; }
  #home-container #user-related-functions {
    width: 20%;
    padding: 10px;
    border-right: 1px solid lightgrey;
    text-align: center; }
    #home-container #user-related-functions img {
      width: 70%; }
  #home-container #feed-posts {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%; }
  #home-container #user-friends {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    padding-left: 5vw;
    text-align: left;
    border-left: 1px solid lightgrey;
    min-height: 100vh; }
    #home-container #user-friends #friends-list {
      border-bottom: 1px solid lightgrey; }
